.course_head {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #d0d6d9;
	line-height: 50px;
	padding-left: 5px;
	font-size: 14px;
}
.course_bottom {
	width: 100%;
	padding-left: 20px;
	height: 900px;
}
.course_bottom .item_list {
	width: 100%;
	height: 174px;
	border-bottom:1px solid #eff1f0;
}
.course_bottom .item_list .list_into {
	padding: 10px 0 10px 10px;
	height: 154px;
}
.course_bottom .item_list .list_into .pic_img {
	width: 240px;
	float: left;
	line-height: 154px;
} 
.course_bottom .item_list .list_into .rt_mes {
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	line-height: 40px;
	width: 680px;
}
 .item_list .list_into .rt_mes h3 {
 	float: left;
 	display: block;
 	width: 200px;
 	height: 40px;
 	font-size: 16px;
 	font-weight: 700;
 	color: #14191e;
 }
  .item_list .list_into .rt_mes h3 a {
  	display: block;
  	font-size: 16px;
 	font-weight: 700;
 	color: #14191e;
  }
 .item_list .list_into .rt_mes span {
 	float: left;
 	width: 100px;
 	height: 40px;
 	font-weight: 400;
 	font-size: 12px;
 	color: #787d82;
 }
.course_bottom .item_list .list_into .stu_pro {
	float: left;
	padding-left: 20px;
	line-height: 40px;
	width: 680px;
	height: 40px;
}
.list_into .stu_pro span {
	margin-right: 30px;
	font-size: 14px;
	color: #787d82;
}
.list_into .stu_pro span.sty_sp {
	color: red;
}
.course_bottom .item_list .list_into .last_list {
	float: left;
	padding-left: 20px;
	line-height: 40px;
	width: 680px;
	height: 40px;
}
.list_into .last_list  span {
	margin-right: 30px;
}
.list_into .last_list  span a {
	font-size: 14px;
	color: #787d82;
}
.list_into .last_list  span a:hover {
	color: #14191E;
}
.list_into .last_list a.goon_study {
	display: block;
	width: 100px;
	height: 30px;
	float: right;
	line-height: 30px;
	text-align: center;
	border: 1px solid #f01400;
	color: #f01400;
}
.list_into .last_list a.goon_study:hover {
	background-color: #f01400;
	color: #fff;
}
