@charset "UTF-8";/*字符集*/
/*css 初始化 ，内外边距清零*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
/*表单，太特殊，初始化表单*/
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; /*outline-style:none；去掉鼠标点击表单时，边框上出现的有色边框*/}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动（标签：文本域被拖动易影响布局）*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙（图片下面总是有3px缝隙）还可用display:block*/
table { border-collapse:collapse; }/*合并边框*/
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";/*"\5b8b\4f53"=宋体*/
    color:#666;
    background:#fff;
}
.clearfix:before,.clearfix:after {/*清除浮动（也称闭合浮动）最好的一种清除浮动的方法*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;
    margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

body {
/*	background-color: #fff;*/
}
/*top头部开始*/
.header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #3399CC;
}
.header .header_left {
	height: 80px;
	float: left;
} 
.header .header_left ul {
	list-style-type: none;
}
.header_left ul li a:hover{
	color: #ff6347;
}
.header_left ul li {
	float: left;
	text-align: center;
	font: 400 28px/80px "微软雅黑";
	margin-right: 30px;
	color: #aaa;
}
.header_left ul li i {
	margin-top: 28px;
	display: block;
	width: 1px;
	height: 30px;
	background-color: #3399CC;
}
.header_left ul li a {
	display: block;
	color: #aaa;
}
.header_left ul li img {
	height: 70px;
}
.header_left ul li.sp_last {
	float: right;
	font-size: 18px;
	font-family: "微软雅黑";
}
.header .header_right {
	width: 410px;
    height: 70px;
    background-color: red;
    float: right;
}
/*top头部结束*/
